.card {
    background-color: transparent;
    border: none;
    color: white;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.information {
    background-color: rgb(53, 60, 66)
}

.tech {
    display: flex;
    gap: 10px;
}