p {
    color: white;
}

#about {
    display: flex;
    margin: 50px auto;
    width: 60%;
    padding: 10px;
}

.contain {
    display: flex;
    gap: 10%;
}
.content {
    width: 50%;
}

#info {
    margin: 0;
    padding: 0;
}

.container {
    width: 40%;
}

img {
    height: 300px;
    width: 225px;
}